// scroll 外层盒子
$themColor: rgb(180,40,45);

@mixin scroll-outwrap($top: 0px, $bottom: 0px) {
  position:absolute;
  top: $top;
  bottom: $bottom;
  z-index: 51;
  width: 100%;
  overflow: hidden;
}

// rem转px 采用iphone5=320 html的font-size
@mixin wid($size) {
  width: ($size / 20)*1rem;
}
@mixin hei($size) {
  height: ($size / 20)*1rem;
}

// 响应式图片
@mixin response-img{
  margin:0 auto;
  display:block;
  max-width: 100%;
}

// 文字显示省略号
@mixin single-line-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin mult-line-ellipse($lineNum: 2){
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lineNum;
  -webkit-box-orient: vertical;
}

// 1px像素边框
@mixin left-1px-border{
  position:relative;

  &:before{
    content: '';
    position:absolute;
    left:0px;
    top:0px;
    display:block;
    width:1px;
    height:100%;
    border-left:1px solid rgba(0,0,0,.1);
    transform: scaleX(.5);
  }
}
@mixin right-1px-border{
  position:relative;

  &:after{
    content: '';
    position:absolute;
    right:0px;
    top:0px;
    display:block;
    width:1px;
    height:100%;
    border-right:1px solid rgba(0,0,0,.1);
    transform: scaleX(.5);
  }
}
@mixin top-1px-border{
  position:relative;

  &:before{
    content: '';
    position:absolute;
    left:0px;
    top:0px;
    display:block;
    width:100%;
    height:1px;
    border-top:1px solid rgba(0,0,0,.1);
    transform: scaleY(.5);
  }
}
@mixin bottom-1px-border{
  position:relative;

  &:before{
    content: '';
    position:absolute;
    left:0px;
    bottom:0px;
    display:block;
    width:100%;
    height:1px;
    border-bottom:1px solid rgba(0,0,0,.1);
    transform: scaleY(.5);
  }
}

// 评分星级
@mixin star-bg-img($url) {
  background-image: url(../../images/#{$url}@2x.png);
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
    background-image: url(../../images/#{$url}@3x.png);
  }
}


